<p>
  edit-blog works!
</p>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>


<form (submit)="updateBlogSubmit()" *ngIf="correctLoading">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" name="title" type="text" placeholder="*newTitle" [(ngModel)]="blog.title">
  </div>

  <div class="form-group">
    <label>Body</label>
    <textarea class="form-control" name="body" cols="8" rows="10" placeholder="*New body" [(ngModel)]="blog.body"></textarea>
    <a [routerLink]="['/delete-blog',blog._id]"><button class="btn btn-danger" type="button" name="button">Delete blog</button></a>
    <button [disabled]="processing" type="button" class="btn btn-success" (click)="goBack()">Go Back</button>
    <button [disabled]="processing" type="submit" name="save" class="btn btn-default">Save changes</button>
  </div>
</form>
