<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Главная Идея</h1>
    <p class="lead text-white">Тут что нибудь про фирму или производство или еще что то главное.</p>
    <p>
      <a href="#" class="btn btn-primary">Перейти к заказу</a>
      <a href="#" class="btn btn-secondary">Наши отзывы</a>
    </p>
  </div>
</section>

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/formovka.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Формовка</h2>
      <p>С помощью вакуумной формовки можно получать объемные изделия из различных пластиков.
        Изделия, изготовленные методом вакуумной формовки, смотрятся лучше, чем такие же изделия, склеенные из отдельных частей.
        Благодаря тому, что изделие не имеет швов, оно является более прочным, долговечным, и реалистичным благодаря объемам.
       </p>
      <p><a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/factoring.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Производство</h2>
      <p>
        Высококачественные электронные системы управления бытовой и промышленной техникой.
        Возможность разработки электроники под заказ и обеспечение серийных поставок.
      </p>
      <p><a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../../assets/advert.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Реклама</h2>
      <p>Изготовление продукции происходит на собственных мощностях компании.
        Оптимальная организация рабочих процессов на всех этапах позволяет нам сохранять достаточно низкие цены на предоставляемые
        услуги и постоянно повышать качество, пересматривая и совершенствуя технологические процессы.</p>
      <p><a class="btn btn-secondary" href="#" role="button">Перейти &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Мы изготавливаем то то и то то.<span class="text-muted">Высокое качество.</span></h2>
      <p class="lead">Наше производство бла бла бла.Когда-то Хемингуэй поспорил, что сочинит рассказ из шести слов (на языке оригинала), который станет самым трогательным из всех ранее написанных. И он выиграл спор.
        1. “Продаются детские ботиночки. Не ношенные.”
        («For sale: baby shoes, never used.» )
        2. Победитель конкурса на самый короткий рассказ, имеющий завязку, кульминацию и развязку. (О. Генри)
        «Шофер закурил и нагнулся над бензобаком, посмотреть много ли осталось бензина. Покойнику было двадцать три года.»
        3. Фредерик Браун. Кратчайшая страшная история из когда-либо написанных.
        «Последний человек на Земле сидел в комнате. В дверь постучались.»
        4. В Великобритании был проведен конкурс на самый короткий рассказ.
        Параметры были следующие:
        — Должен быть упомянут Бог,
        — Королева,
        — Должно быть немного секса
        и присутствовать какая-то тайна.
        Рассказ — победитель:
        — Господи! — вскричала королева, — я беременна, и неизвестно от
        кого!…
        5. B конкурсe на самую короткую автобиографию победила одна пожилая француженка, которая написала:
        «Раньше у меня было гладкое лицо и мятая юбка, а теперь — наоборот».

      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/photo1.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 push-md-5">
      <h2 class="featurette-heading">Всегда в срок.<span class="text-muted">Быстро и доступно.</span></h2>
      <p class="lead">Два мальчика стояли и смотрели, как сатана медленно уходит прочь. Блеск его гипнотических глаз все еще туманил их головы.
        – Слушай, чего он от тебя хотел?
        – Мою душу. А от тебя?
        – Монетку для телефона-автомата. Ему срочно надо было позвонить.
        – Хочешь, пойдём поедим?
        -Хочу, но у меня теперь совсем нет денег.
        – Ничего страшного. У меня полно.
       </p>
    </div>
    <div class="col-md-5 pull-md-7">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/photo2.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Довольные клиенты.<span class="text-muted">Здесь и сейчас.</span></h2>
      <p class="lead">Я проснулся от жестокой боли во всем теле. Я открыл глаза и увидел медсестру, стоящую у моей койки.
        – Мистер Фуджима, – сказала она, – вам повезло, вам удалось выжить после бомбардировки Хиросимы два дня назад. Но теперь вы в госпитале, вам больше ничего не угрожает.
        Чуть живой от слабости, я спросил:
        – Где я?
        – В Нагасаки, – ответила она.

        Звездная ночь. Самое подходящее время. Ужин при свечах. Уютный итальянский ресторанчик.
        Маленькое черное платье. Роскошные волосы, блестящие глаза, серебристый смех. Вместе уже два года.
        Чудесное время! Настоящая любовь, лучший друг, больше никого. Шампанского! Предлагаю руку и сердце. На одно колено.
        Люди смотрят? Ну и пусть! Прекрасное бриллиантовое кольцо. Румянец на щеках, очаровательная улыбка.
        Как, нет?!


        </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../../../assets/photo3.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">
</div>
