<div class="collapse bg-inverse" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 py-4">
        <h4 class="text-white"><img style="width: 70%;height: 70%;float: none" src="../../../assets/logo.png"></h4>
      </div>
      <div class="col-sm-5 py-4">
        <p class="text-muted">Любая информация о компании. Во время срочной службы на корабле, был у меня сослуживец по фамилии Крюк
          - это был единственный срочник на весь Черноморский Флот, к которому даже офицеры обращались "Капитан!".
         </p>
      </div>

      <div class="col-sm-4 py-4">
        <h4 class="text-white">Контакты</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">г.Минск, 3-й загородный переулок 2а</a></li>
          <li><a href="#" class="text-white">+375-29-617-85-97</a></li>
          <li><a href="#" class="text-white">teck-lesch@tut.by</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse bg-inverse">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand"><img src="../../../assets/logoTitle.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>
