<p>
  delete-blog works!
</p>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<div *ngIf="foundedBlog">
  <div>
    <div>
      <div >
        <div>
          <h4>Confirm deletion</h4>
        </div>

        <div>
          <p>Are u sure u would like to delete this blog?</p>
        </div>

        <div>
          <button type="button" name="button" [disabled]="processing" class="btn btn-success" (click)="deleteBlog()">Yes</button>
          <button type="button" name="button" [disabled]="processing" class="btn btn-danger" (click)="goBack()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-block">
    <div class="card-title">
      {{blog.title}}
    </div>
    <div class="card-body">
      {{blog.body}}
    </div>
    <div class="card-body">
      <strong>Posted by: </strong>{{blog.createdBy}}
      <strong>Date: </strong>{{blog.createdAt | date: 'MMM dd, yyyy'}}
    </div>
  </div>
</div>
